body {
	background-color:#eee;
	box-sizing:border-box;
}


#main-div {
	min-height:500px;
	min-width:1024px;
	background: linear-gradient(rgba(0,0,30,0.4),rgba(0,0,0,30.4)), url("dorm.jpg");
	background-size:cover;
	text-align:center;
	color:white;
	font-family:sans-serif;
}

h1 {
	padding:150px 0 40px 0;
	font-size:400%;
	letter-spacing: 2px;
	text-shadow: 2px 2px 5px black;
}

#main-div a {
	letter-spacing: 1px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:140%;
	text-decoration:none;
	color:white;
	padding:10px 15px;
	border:2px solid white;
	border-radius:9px;
}

#main-div a:hover {
	background-color:rgba(20,20,20,0.5);
	box-shadow:0 3px 5px black;
}

.content-box {
	width:75%;
	margin:0 auto;
	height:450px;
	border-bottom:1px solid transparent;
	border-image: linear-gradient(to right, #eee,lightgray,#eee);
	border-image-slice:1;
}

.content-box div {
	display:inline-block;
}

.text-box {
	font-family:sans-serif;
	width:59%;
	vertical-align:top;
	height:350px;
}

.text-box h2 {
	color:#333;
	padding-top:100px;
	text-align:justify;
}	

.image-box {
	width:40%;
	height:350px;
	text-align:center;
	padding-top:100px;
}

.image-box img {
	width:350px;
	height:250px;
	box-shadow: 1px 3px 5px gray;
}

.learn-more {
	text-transform:uppercase;
	font-weight:bold;
	/*font-size:120%;*/
	text-decoration:none;
	color:#333;
	line-height:80px;
	padding:8px 12px;
	border:2px solid #777;
	border-radius:9px;
}

.learn-more:hover {
	border:2px solid #666;
	box-shadow:0px 1px 5px gray;
}

footer {
	height:200px;
	background-color:#020c22;
	text-align:center;
}

i {
	font-size:120px;
	color:white;
	border:2px solid white;
	padding:10px;
	border-radius:9px;
	margin-top:100px;
}

p {
	color:white;
	font-size:120%;
	margin-top:20px;
}