td,th {
	padding:7px 20px;
	font-size:180%;
}

table {
	background-color:#f5f7fb;
}

#half-one table {
	border:1px solid lightgray;
	border-radius:15px;
	box-shadow:1px 1px 1px black;
	margin:15px;
}

#half-two table {
	border:1px solid lightgray;
	border-radius:15px;
	box-shadow:1px 1px 1px black;
	margin:70px 15px 15px 15px;
}

#half-two img {
	margin:0 0 0 110px;
}

#half-two h2 {
	margin-top:-25px;
	text-align:center;
	font-family:Segoe UI;
	color:#19affb;
}

.right {
	text-align:right;
}